@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700");

.form-group {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration-color: #5a2890;
  background-color: #f5f5f5;
  background-image: none;
}

body {
  font-size: 20px;
  color: #212529;
  font-family: "Ubuntu", serif;
}

h1 {
  font-size: 3rem;
  padding: 20px 20px;
  text-align: center;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
h3 {
  font-size: 2rem;
  padding: 20px 10px;
  text-align: center;
}

.header-img {
  background-image: url("../images/crowd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 170px;
  display: flex;
  color: #f5f5f5;
  text-align: center;
  z-index: -1;
  align-items: center;
}

button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e84610;
  color: #f5f5f5;
  font-weight: 200;
}

.navbar {
  padding: 10px 15px;
  background-color: rgba(169, 169, 169, 0.39);
  line-height: 30px;
  max-width: 100%;
}

.navbar a:hover {
  background: #e67e22;
  padding: 5px 5px;
  border-radius: 20px;
  border-radius: 20px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.heading-1 {
    padding: 10px 10px;
    font-size: 3rem;
    border-style: solid;
    color: #e67e22;
    font-family: 'Metal Mania', cursive;
}

.flash {
    text-align: center;
    font-size: 2rem;
}

.text {
  padding: 10px 15px;
  margin: 10px 10px;
}

.inner-content {
    width: 100%;
    padding: 0 2.5rem;
    max-width: 1200px;
    margin: 0 auto
}

@media (max-width: 959px) {
    .inner-content {
        padding: 0 2rem
    }
}

@media (max-width: 419px) {
    .inner-content {
        padding: 0 1.5rem
    }
}

.footer-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none
}

.footer-link:focus, .footer-link:hover {
    border-bottom: 1px solid #fca253
}

.footer-link .icon.outbound {
    display: none
}

.footer {
    display: flex;
    height: 9.5rem;
    background-color: #444;
    font-size: .75rem;
    color: #999;
    padding-top: 2rem;
    padding-bottom: 2rem
}

.footer .footer-content {
    text-align: center
}

.footer .footer-content.has-sidebar {
    margin-left: 20rem
}

.footer .text-container {
    padding: 1rem 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999
}

.footer .footer-copyright {
    margin-bottom: .5rem;
    font-style: italic
}

.footer .footer-links {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style-type: none
}

.footer .footer-links .footer-item {
    margin: 0 5px;
    padding: .4rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width: 959px) {
    .footer .footer-content.has-sidebar {
        margin-left: 18rem
    }
}

@media (max-width: 719px) {
    .footer .footer-content.has-sidebar {
        margin-left: 0
    }
}

a .fa-download {
  display: block;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  color: #fffff0;
}

a .fa-download:hover {
  color: #e67e22;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center
}
