<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<title>Radio Stations Ireland</title>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('get_station')}}">Radio Ireland</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     <li class="nav-item">
            <a class="nav-link" href="{{url_for('get_station')}}">Home</a>
          </li>
      <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_station')}}">Add radio station</a>
          </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="nav-link" href="{{url_for('get_radio_details', radio_genre='news')}}">News</a>
         <a class="nav-link" href="{{url_for('get_radio_details', radio_genre='pop')}}">Pop</a>
         <a class="nav-link" href="{{url_for('get_radio_details', radio_genre='classic-hits')}}">Classic Hits</a>
         <a class="nav-link" href="{{url_for('get_radio_details', radio_genre='80s')}}">80s</a>
        </div>
      </li>
    </ul>
    </div>
  </nav>
</header>


  <!-- Page Header -->

   <div class="header-img header">
        <div class="row col-md-12">
            <div class="row col-xs-12 col-md-12  text-center">
                <h1 class="heading-1"> Irish  Radio Stations</h1>
            </div>
        </div>

    </div>

  <!-- Main Content -->
   <div class="container text-center>">
        {% block content %} {% endblock %}
    </div>


  <!-- Footer -->
  <footer class="container-fluid">
        <div>
            <div id="footer-details" class="row">
                <div class="col-sm-4">
                <h5 class="uppercase general-sub">About us</h5>
                <p class="inline-block">
                    Listen to Irish radio stations 24/7.
                </p>
                </div>
                <div class="col-sm-4">
                <h5 class="uppercase general-sub">Copyright</h5>
                <p class="inline-block">
                2018 - 2020</br>
                Ceslovas Karzenauskas
                </p>
                </div>
                <div class="col-sm-4">
                <h5 class="uppercase general-sub">My Social</h5>
                <ul class="list-inline social-links">
                    <li><a target="_blank" href="https://www.facebook.com/"><i class=" fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/explore"><i class=" fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/home"><i class=" fa fa-linkedin"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>