{% extends 'base.html' %} {% block content %}


<!-- Why do you have col-md-6???? -->
<div class="container-fluid">  
	<div class="row">
        <!-- This div is uncloses -->
		<div class="col-lg-8 col-md-12 col-sm-6 mx-auto">
			<h2>
			Explore Irish radio stations!
			</h2>

			<hr>
            <!--  row inside a div and then you have added extra overriding rules -->
			<div class=" row ">
            <!-- Anything with a 12 in it goes all the way across the page -->

					{% for radio in genre %}
                    <div class="col-md-6 text-center post-preview">
					{% if radio.radio_genre == 'news' or radio.radio_genre == 'pop'%}
                    
					<img src= "{{ radio.img }}" class="media-object col-md-6 height=100 width=100" >
					<a href="{{url_for('get_radio_details', radio_genre=radio.radio_genre|lower)}}">
						<h3 class="post-title ">
							{{radio.radio_genre}}
						</h3>
					</a>

					{% endif %}
					<hr>
                    </div>
					{% endfor %}
				
            </div>
            <div class=" row ">
            <!-- Anything with a 12 in it goes all the way across the page -->
				
					{% for radio in genre %}
                    <div class="col-md-6 text-center post-preview">
					{% if radio.radio_genre == 'classic-hits' or radio.radio_genre == '80s' %}
                    
					<img src= "{{ radio.img }}" class="media-object col-md-6 height=100 width=100" >
					<a href="{{url_for('get_radio_details', radio_genre=radio.radio_genre|lower)}}">
						<h3 class="post-title ">
							{{radio.radio_genre}}
						</h3>
					</a>

					{% endif %}
					<hr>

					<div class=" row ">
            </div>
                    </div>
					{% endfor %}
				</div>
            </div>
        </div>
	</div>
    <hr>


{% endblock %}