{% extends 'base.html' %} {% block content %}

    <div class="container-fluid col-md-12">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
                <div class="post-preview ">
                    <h2 class="post-title">
                        {{ title }} Radio Stations
                    </h2>
                </div>
                <hr>
                <div class="col-lg-8 col-md-12 mx-auto">

                    <!-- for loop to find list radio stations -->

                    {% for radio in station %}
                        <div class="post-preview ">

                            <h3 class="post-title">
                                {{ radio.radio_name }}
                            </h3>


                            <p class="">
                                <span><b>Website:</b></span>
                                <a href="{{ ''.join(['http://', radio.radio_website]) }}">{{ radio.radio_website }}</a>
                            </p>
                            <p>
                                <span><b>Phone:</b></span>
                                {{ radio.radio_phone }}
                            </p>
                            <p>
                                <!--Nested loop to display in a list-->

                                {{ radio.radio_description }}

                            </p>
                            <p>
                                <span><b>Live Stream:</b></span><br/>

                                <!--Audio player code-->
                            <div class='audio-container'>
                                <audio controls>
                                    <source src="{{ radio.radio_stream }}" type="audio/mpeg">
                                    <source src="{{ radio.radio_stream }}" type="audio/ogg">
                                </audio>
                            </div>

                            </p>

                        </div>
                        <!--buttons for delete and add station-->
                        <div class="clearfix row  ">
                            <div class="col-md-6">
                                <a class="btn btn-primary "
                                   href="{{ url_for('delete_station', station_id=radio._id) }}">Delete radio
                                    station </a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-primary" href="{{ url_for('edit_station', station_id=radio._id) }}">Edit
                                    radio station </a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}